.container {
  height: 100vh;
  touch-action: none;
  user-select: none;
}

.keyboard {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 85%;
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 167, 66),
    rgb(209, 0, 80)
  );
}

.margin-top {
  height: 5%;
  background-color: black;
}

.margin-bottom {
  height: 10%;
  background-color: black;
}

.start {
  height: 25%;
  width: 50%;
  border-radius: 50%;
  background-color: rgb(245, 212, 105);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: white;
  box-sizing: border-box;
}

.selector {
  display: flex;
  align-items: start;
  padding-top: 0.2rem;
}

.selector-name {
  display: flex;
  align-items: center;
  color: rgb(255, 184, 223);
  padding-top: 0.4rem;
  margin-right: 0.2rem;
}

.selector-menu {
  color: black;
  z-index: 10;
}

.selector-selected {
  background-color: rgb(245, 212, 105);
  padding: 0.5rem 0.7rem;
  border: 1px solid black;
}

.selector-options {
  background-color: rgb(242, 177, 255);
}

.option {
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid black;
}

.effect-select {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.effect {
  padding: 1rem;
}

.active {
  background-color: blueviolet;
}
